In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

df = pd.DataFrame(pd.read_excel("data.xlsx"))

#
l = list(df.columns[52:])
df = df.drop(l, axis = 1)

#clean data
df.iloc[:, 41:] = df.iloc[:, 41:].replace(r'^\s*$', np.nan, regex=True)

#try different strategy
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df.iloc[:, 41:])
df.iloc[:, 41:] = imputer.fit_transform(df.iloc[:, 41:])

In [ ]:
#random pick
#

In [2]:
df

,Record ID,Visit ID,PT ID,Clinical F/U interval [d from CT],BMI,BMI >30,Sex,Age at CT,Tobacco,Alcohol abuse,...,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median)
0,8675,415,6669,907,37.7,Y,Male,73,NaN,NaN,...,377.708045,672.207190,172.991393,208.044914,0.907246,18.242557,170.053192,58.717526,5473.561,35.0
1,2236,525,2915,359,30.1,Y,Female,55,NaN,NaN,...,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,52.0
2,5962,542,5321,412,28.1,N,Female,52,NaN,NaN,...,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,54.0
3,665,546,1934,2333,25.0,N,Male,60,Yes,NaN,...,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,57.0
4,478,580,1817,532,22.4,N,Male,88,Yes,NaN,...,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9218,9262,13510,10974,603,28.3,N,Male,52,No,NaN,...,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,38.0
9219,9287,13511,10975,564,23.4,N,Male,51,Yes,NaN,...,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,54.0
9220,956,13514,10978,614,43.6,Y,Female,63,No,NaN,...,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,45.0
9221,6097,13519,10982,365,26.9,N,Female,55,No,NaN,...,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,44.0
9222,8486,13523,10985,0,19.8,N,Male,61,NaN,NaN,...,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,54.0

In [3]:
l = list(df.columns[15:])
df_clinic_data = df.drop(l, axis = 1)
a = list(df.columns[:41])
df_CT = df.drop(a, axis = 1)
b = list(df.columns[:15]) + list(df.columns[41:])
df_outcome = df.drop(b, axis = 1)

In [4]:
df_outcome.isna().sum()

DEATH [d from CT]                              8674
CVD DX                                         8322
CVD DX Date [d from CT]                        8322
Heart failure DX                               8580
Heart failure DX Date [d from CT]              8580
MI DX                                          8382
MI DX Date [d from CT]                         8382
Type 2 Diabetes DX                             6687
Type 2 Diabetes DX Date [d from CT]            6687
Femoral neck fracture DX                       9097
Femoral neck fracture DX Date [d from CT]      9097
Unspec femoral fracture DX                     9056
Unspec femoral fracture DX Date [d from CT]    9056
Forearm fracture DX                            8798
Forearm fracture DX Date [d from CT]           8798
Humerus fracture DX                            9082
Humerus fracture DX Date [d from CT]           9082
Pathologic fracture DX                         8974
Pathologic fracture DX Date [d from CT]        8974
Alzheimers DX                                  9170
Alzheimers DX Date [d from CT]                 9170
Primary Cancer Site                            8014
Primary Cancer Dx [d from CT]                  8025
Primary Cancer Site 2                          9096
Primary Cancer Site 2 Dx [d from CT]           9096
AUTO-CT VALUES                                 9223
dtype: int64

In [5]:
#analyze data
# train-test split
#train with logistic regression

#part 1 df
df_log = df.iloc[:, 41:]

#change death to binary variable
temp = df.iloc[:,15]
temp = temp.fillna(0)
for i in range(len(temp)):
    if temp[i] > 0:
        temp[i] = 1
        
df_log["DEATH [d from CT]"] = temp

In [147]:
from sklearn.model_selection import train_test_split

#train test split
train, test = train_test_split(df_log, test_size=0.2)
train_x = train.iloc[:,1:-1]
#train_x = train[["VAT Area (cm2)", "VAT/SAT     Ratio", "AoCa        Agatston"]]
train_y = train.iloc[:,-1]
test_x = test.iloc[:,1:-1]
#test_x = test[["VAT Area (cm2)", "VAT/SAT     Ratio", "AoCa        Agatston"]]
test_y = test.iloc[:,-1] 
train_x

,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median)
5453,754.768966,1013.375862,423.727586,331.037931,1.279997,9.747587,154.537354,60.351065,211.182,63.0
7593,231.260606,606.416970,120.960000,110.300606,1.096639,37.913441,170.633040,45.789775,110.124,64.0
3477,329.478378,630.878378,206.527027,122.948649,1.679783,29.063496,178.800018,53.460761,43.506,61.0
85,127.108108,318.156757,37.454054,89.651351,0.417775,36.243444,104.620292,37.227221,0.000,52.0
34,339.060606,585.281818,160.366667,178.693939,0.897438,10.314729,100.229818,35.664951,2449.219,59.0
...,...,...,...,...,...,...,...,...,...,...
1240,221.769231,489.300000,67.389744,154.382051,0.436513,42.146215,137.124677,47.347667,0.000,65.0
3796,190.148837,512.465116,89.634884,100.513953,0.891766,46.693064,89.547608,25.346799,0.000,63.0
8472,444.850450,680.540541,217.181982,227.668468,0.953940,11.631850,137.086818,47.334594,4454.340,39.0
3669,392.709756,702.829268,213.924390,178.787805,1.196527,40.144376,196.831055,65.979400,126.233,57.0
1651,261.300000,596.904878,133.031707,128.268293,1.037136,36.757510,216.728394,66.639493,876.215,56.0

In [48]:
df_log.columns

Index(['L1_HU_BMD', 'TAT Area (cm2)',
       'Total Body                Area EA (cm2)', 'VAT Area (cm2)',
       'SAT Area (cm2)', 'VAT/SAT     Ratio', 'Muscle HU',
       ' Muscle Area (cm2)', 'L3 SMI (cm2/m2)', 'AoCa        Agatston',
       'Liver HU    (Median)', 'DEATH [d from CT]'],
      dtype='object')

In [156]:
#log model
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import r2_score
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures

pipe = Pipeline([('sc', StandardScaler()),
                    ('pca', PCA(n_components=3)),
                    ('t', PolynomialFeatures(degree=2)),
                    ('clf', LogisticRegression(multi_class='multinomial'))
                    ])
pipe.fit(train_x, train_y)

#high because of less input
pipe.score(test_x, test_y)

#negative bad
#r2_score(list(test_y), pipe.predict(test_x))
metrics.f1_score(list(test_y), list(pipe.predict(test_x)))
#sum(list(pipe.predict(test_x)))

0.06349206349206349

In [25]:
import matplotlib.pyplot as plt
L = list(df_log["DEATH [d from CT]"])
a = list(df_log["TAT Area (cm2)"])


df_log.corr()

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median),DEATH [d from CT]
L1_HU_BMD,1.000000,-0.075332,-0.073395,-0.095125,-0.025382,-0.085345,0.244075,0.006155,0.052523,-0.212457,0.036257,-0.119917
TAT Area (cm2),-0.075332,1.000000,0.949176,0.845128,0.834816,0.257741,-0.417971,0.427059,0.477673,0.131477,-0.422036,0.038929
Total Body Area EA (cm2),-0.073395,0.949176,1.000000,0.880545,0.703768,0.398090,-0.333819,0.528747,0.532179,0.140411,-0.444809,0.054752
VAT Area (cm2),-0.095125,0.845128,0.880545,1.000000,0.443213,0.624860,-0.279281,0.505935,0.492622,0.188364,-0.420875,0.080235
SAT Area (cm2),-0.025382,0.834816,0.703768,0.443213,1.000000,-0.210842,-0.435580,0.191327,0.297404,0.021785,-0.279889,-0.021136
VAT/SAT Ratio,-0.085345,0.257741,0.398090,0.624860,-0.210842,1.000000,0.014009,0.328446,0.247775,0.165671,-0.195205,0.108436
Muscle HU,0.244075,-0.417971,-0.333819,-0.279281,-0.435580,0.014009,1.000000,0.148845,0.076768,-0.244978,0.201574,-0.167403
Muscle Area (cm2),0.006155,0.427059,0.528747,0.505935,0.191327,0.328446,0.148845,1.000000,0.834095,0.054738,-0.249976,-0.019076
L3 SMI (cm2/m2),0.052523,0.477673,0.532179,0.492622,0.297404,0.247775,0.076768,0.834095,1.000000,0.063533,-0.266040,-0.011906
AoCa Agatston,-0.212457,0.131477,0.140411,0.188364,0.021785,0.165671,-0.244978,0.054738,0.063533,1.000000,-0.079259,0.255069
Liver HU (Median),0.036257,-0.422036,-0.444809,-0.420875,-0.279889,-0.195205,0.201574,-0.249976,-0.266040,-0.079259,1.000000,-0.042837
DEATH [d from CT],-0.119917,0.038929,0.054752,0.080235,-0.021136,0.108436,-0.167403,-0.019076,-0.011906,0.255069,-0.042837,1.000000